<% if signed_in? %>
<div class="container-fluid">
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-md-1">
	<%= link_to image_tag(request.book.cover,data:{src:"holder.js/10%x30"},alt:"Book Cover"),request.book,class:"thumbnail" %>
      </div>
      <div class="col-md-11">
        <a href="#" class="h3"><%= request.book.title %></a><br>
	by <a href="#" class="h5"><%= request.book.author %></a><br><% user = User.find(request.user_id) %>
	Added by: <%= user.username.upcase %> | <%= user.fullname.capitalize %><br>
	Status: Still Processing.....!!!
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <%= render 'shared/unsigned' %>
<% end %>
