<h1>Listing request_books</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_books.each do |request_book| %>
      <tr>
        <td><%= request_book.book %></td>
        <td><%= link_to 'Show', request_book %></td>
        <td><%= link_to 'Edit', edit_request_book_path(request_book) %></td>
        <td><%= link_to 'Destroy', request_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request book', new_request_book_path %>
