<!DOCTYPE html>
<html>
<head>
  <title>Students Library | <%= yield :title %></title>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skrollr.stylesheets', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skrollr.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'iitm.ico' %>
</head>
<body id="skrollr-body">
	<%= render "shared/navbar" %>
	<div class='content'>
		<%= yield %>
	</div>
	<script >skrollr.init();</script>
</body>
<footer>
	<%= render "shared/footer"%>
	</footer>
</html>
